# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
ENV/
env/

# Logs and databases
*.log
.vscode/
.idea/

# PyInstaller build outputs
build/
dist/
*.spec
